# Social Vulnerability Project
## Data Acquisition Module

In [1]:
# imports

# general imports
import pandas as pd
import numpy as np

# my imports
import acquire

### 2018 Voter Registration Goals:
- Acquire the 2018 Voter Registration by County Table
    - For 1st iteration I only want to look at the following columns:
        - County (Name of County in Texas)
        - Voter Registration (Number of Registered Voters)
    - On a later iteration I might be interested in looking at:
        - Precints (Number of Precints within the County)
        - Suspenese Voters
        - Non-Suspense Voters

In [2]:
# let's look at the voter registration
vr = acquire.get_voter_registration()

In [3]:
# initial look at data
vr.head()

  County Name Precincts Voter Registration Suspense Voters Non-Suspense Voters
0    ANDERSON        24             27,788           3,993              23,795
1     ANDREWS         4              9,204           1,053               8,151
2    ANGELINA        47             50,779           6,744              44,035
3     ARANSAS         6             17,130           3,368              13,762
4      ARCHER        14              6,266             629               5,637

In [4]:
# and what does it look like after initial clean
vr = acquire.initial_vr_clean(vr)
vr.head()

     county  registered
0  ANDERSON       27788
1   ANDREWS        9204
2  ANGELINA       50779
3   ARANSAS       17130
4    ARCHER        6266

In [5]:
vr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255 entries, 0 to 254
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   county      255 non-null    object
 1   registered  255 non-null    int64
dtypes: int64(1), object(1)
memory usage: 4.1+ KB

In [6]:
vr.shape

(255, 2)

### 2018 Voter Turnout Goals:
- Acquire the 2018 Voter Turnout by County Table
    - For 1st iteration I only want to look at the following columns:
        - County
            - Need to aggregate
        - Unnamed Column that holds counts of voters
            - Need to name, and aggregate
        - Also need to decide what to do with entries that do not have a county name
    - For later iterations, I might also look at:
        - Individual voting locations
        - Handling the entries w/o county named in a different manner

In [7]:
# let's bring in the voter turnout data
vt = acquire.get_voter_turnout()
vt.head()

          POLL PLACE ID             POLLING PLACE NAME  VOTER COUNT
ANDERSON        95607.0      1ST BAPTIST CHURCH-SLOCUM          337
ANDERSON        94334.0             1ST BAPTIST NECHES          239
ANDERSON        25633.0            1ST BAPTIST-ELKHART          487
ANDERSON         5342.0  ANTIOCH BAPTIST CHURCH BOX 15          149
ANDERSON        12261.0   ANTIOCH BAPTIST CHURCH BOX 8           28

In [8]:
# let's do our intial clean and see what we have
vt = acquire.initial_vt_clean(vt)
vt.head()

     county  turnout
0  ANDERSON     4718
1   ANDREWS     1079
2  ANGELINA     5963
3   ARANSAS     1266
4    ARCHER      941

In [9]:
vt.shape

(251, 2)

### CDC Social Vulnerability Index Goals:
- Acquire the CDC Social Velnerability Index dataset
    - For the 1st iteration I want to look at the following columns:
        - 'COUNTY'
        - 'RPL_THEME1' - Socioeconomic Ranking
        - 'RPL_THEME2' - Household Composition & Disability Ranking 
        - 'RPL_THEME3' - Minority Status & Language Ranking
        - 'RPL_THEME4' - Housing Type & Transportation Ranking
        - 'RPL_THEMES' - Overall Summary Ranking
    - If any of the specifics themes play a large role, I will dive into more features of said theme during future iterations

In [10]:
# let's bring in the CDC Social Vulnerability Index

svi = acquire.get_vulnerable()
svi.head()

,ST,STATE,ST_ABBR,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,E_HU,...,F_CROWD,F_NOVEH,F_GROUPQ,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP
0,48,TEXAS,TX,Carson,48065,"Carson County, Texas",920.234435,6032,0,2793,...,0,0,0,0,0,684,174,11.4,2.9,7981
1,48,TEXAS,TX,Archer,48009,"Archer County, Texas",903.288571,8789,0,4150,...,0,0,0,0,0,996,189,11.4,2.2,6079
2,48,TEXAS,TX,Rockwall,48397,"Rockwall County, Texas",127.109939,93642,0,33038,...,0,0,0,0,0,10446,1077,11.2,1.2,71032
3,48,TEXAS,TX,Armstrong,48011,"Armstrong County, Texas",909.108694,1916,125,932,...,0,0,0,0,0,141,53,7.6,2.6,1354
4,48,TEXAS,TX,Borden,48033,"Borden County, Texas",897.442389,665,119,441,...,0,0,0,0,2,31,20,4.7,2.9,586

In [11]:
# and now let's look after our initial clean
svi = acquire.initial_svi_clean(svi)
svi.head()

,county,population,pop_error,socioeconomic,composition,minority,housing,svi_ranking
0,ANDERSON,57863,0,0.6166,0.0751,0.4150,0.9486,0.6206
1,ANDREWS,17818,0,0.2964,0.0593,0.8261,0.4822,0.3794
2,ANGELINA,87607,0,0.8221,0.9209,0.5534,0.9170,0.9051
3,ARANSAS,24763,0,0.5178,0.5534,0.3281,0.7945,0.5968
4,ARCHER,8789,0,0.0474,0.1937,0.0277,0.0079,0.0040

In [12]:
svi.shape

(254, 8)

### Join the Tables

In [13]:
county_df = acquire.county_data()

In [14]:
county_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 250 entries, 0 to 253
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   county         250 non-null    object
 1   population     250 non-null    int64
 2   pop_error      250 non-null    int64
 3   socioeconomic  250 non-null    float64
 4   composition    250 non-null    float64
 5   minority       250 non-null    float64
 6   housing        250 non-null    float64
 7   svi_ranking    250 non-null    float64
 8   turnout        250 non-null    float64
 9   registered     250 non-null    float64
dtypes: float64(7), int64(2), object(1)
memory usage: 21.5+ KB

### What about CDC SVI by Census Track?

In [15]:
# what does the raw data look like

svi_2 = acquire.get_svi_ct()
svi_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5254 entries, 0 to 5253
Columns: 124 entries, ST to E_DAYPOP
dtypes: float64(58), int64(62), object(4)
memory usage: 5.0+ MB

In [16]:
svi_2['FIPS'].nunique()

5254

In [17]:
svi_2 = acquire.initial_svi_ct_clean(svi_2)
svi_2.head()

,county,fips,population,pop_error,socioeconomic,composition,minority,housing,svi_ranking
0,ANDERSON,48001950100,5164,525,0.3853,0.7610,0.1308,0.7545,0.4965
1,ANDERSON,48001950401,4872,263,0.4162,0.0230,0.3439,0.5421,0.2477
2,ANDERSON,48001950402,7548,356,0.6895,0.0626,0.3219,0.3123,0.3422
3,ANDERSON,48001950500,4569,520,0.7202,0.7878,0.6467,0.9167,0.8433
4,ANDERSON,48001950600,5570,754,0.5552,0.4861,0.2766,0.7387,0.5470

In [18]:
cmon = pd.merge(svi_2, vt, left_on='county', right_on='county', how='left')

In [19]:
census_df = acquire.census_data()
census_df.head()

,county,fips,population,pop_error,socioeconomic,composition,minority,housing,svi_ranking,turnout,registered
0,ANDERSON,48001950100,5164,525,0.3853,0.7610,0.1308,0.7545,0.4965,4718.0,27788.0
1,ANDERSON,48001950401,4872,263,0.4162,0.0230,0.3439,0.5421,0.2477,4718.0,27788.0
2,ANDERSON,48001950402,7548,356,0.6895,0.0626,0.3219,0.3123,0.3422,4718.0,27788.0
3,ANDERSON,48001950500,4569,520,0.7202,0.7878,0.6467,0.9167,0.8433,4718.0,27788.0
4,ANDERSON,48001950600,5570,754,0.5552,0.4861,0.2766,0.7387,0.5470,4718.0,27788.0